body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(140deg, black, grey);
}

.navbar {
    padding: 0 auto;
    padding-left: 5%;
    margin: auto;
    background-color: rgb(223, 171, 171);
    font-size: 1.5rem;
    color: red;
}

a {
    padding-right: 2%;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    font-size: 1.52rem;
    text-shadow: 10px 10px 10px red;
}

.gaming_photo {
    height: 48%;
    width: 48%;
    display: inline-block; 
    border-radius: 100px;
    border-image: linear-gradient(140deg, red, pink);
}


.home_title {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 10px 10px 20px white;
}

.home_discription {
    max-width: 50%;
    color: white;
    float: left;
    font-size: 1.1rem;
    overflow: hidden;
    
}





.send_button:hover {
    background-color: rgb(133, 127, 127); 
}

.form  {
    background-color: #f0f8ff; 
    text-align: center;
    margin: 5vh auto; 
    padding: 3vh 2vw; 
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);     
    width: 90%;
}

input {
    height: 6vh; 
    width: 80%; 
    margin: 1.5vh 0;
    border: 2px solid #ccc; 
    border-radius: 12px; 
    padding: 1vh;
    font-size: 1.1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
    outline: none;
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

input:focus {
    box-shadow: 0 0 32px rgba(0, 123, 255, 0.8); 
     border-color: rgba(0, 123, 255, 0.8); 
}

.send_button {
    background-color: #000000; 
    color: white;
    border: none;
    border-radius: 12px;
    height: 6vh;
    width: 50%; 
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #0056b3; 
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

.copyright {
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: 5vh;
    text-shadow: 10px 10px 20px white;
}
.copyright_contact_link{
    text-decoration: none;
    font-size: 1.1rem;
    color: yellow;
    font-style: oblique;
}
#messages{
    border-radius: 15px;
    width: 50vw;
    height: 30vh;
    font-size: 1rem;
    box-shadow: 10px 10px 10px skyblue;
    
}
.myprojects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5vh auto;
    padding: 3vh 2vw;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    background-color: #f0f8ff;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}